
*{
    margin :0 ;  
    padding: 0;
}
    
    body{
     background:rgb(0, 0, 0);
     font-size: 14px;
     font-family: 'Merriweather', serif;
    
    
    }
    .container{
    width:80% ;
    margin: 50px auto;
    
    }
    .reclamation-container {
        background: rgb(255, 255, 255);
       
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .reclamation-box {
        background: #d5d1defe;
        box-sizing: border-box;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 20px;
    }
   
    
    h1{
    margin-bottom: 10px;
    color: #ffffff;
    
    
    }
    
  
     input{
      width : 100% ; 
      border : none ; 
      border-bottom: 1px solid  #000000;
      outline: none;
      padding-bottom:5px ;
    
    
     }
     textarea{
      width: 100%;
      border: 1px solid black;
      outline: none;
      padding: 10px;
      box-sizing: border-box;
    
     }
     label{
       margin-bottom: 6px;
       display: block;
       color: rgb(0, 0, 0);
    
     }
    
     .but {
        padding: 10px 20px;
        font-size: 16px;
        text-decoration: none;
        color: #fff;
        background-color: #000000;
        cursor: pointer;
        border-radius: 25px;
        width: 100px;
        
        
       
        
      
      }
      .but:hover {
       
        color: #000000;
        background-color: #7c7b7b;  
      }

    .reclamation-left h3{
        color:  rgb(0, 0, 0);
        font-weight: 600;
        margin-bottom: 30px;
    
    
    
    }
    #divgrid{
      display: grid;
      grid-template-columns: 500px 500px  ;
      margin: 3px 0;
      color: black;
      font-family: 'Merriweather', serif;
  
  }
  .divgrid{
    display: grid;
    grid-template-columns: 500px 500px  ;
    margin: 3px 0;
    color: black;
    font-family: 'Merriweather', serif;

}
  r{
    color: black;
    font-family: 'Merriweather', serif;
  }
 

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
*{
    margin :0 ;  
    padding: 0;
}
    
    body{
     background:rgb(0, 0, 0);
     font-size: 14px;
     font-family: 'Merriweather', serif;
    
    
    }
    .container{
    width:80% ;
    margin: 50px auto;
    
    }
    .reclamation-container {
        background: rgb(255, 255, 255);    
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .reclamation-box {
        background: #ffffffa8;
        box-sizing: border-box;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 20px;
    }
   
    
    h1{
    margin-bottom: 10px;
    color: #ffffff;
    
    
    }
    
  
     input{
      width : 100% ; 
      border : none ; 
      border-bottom: 1px solid  #000000;
      outline: none;
      padding-bottom:5px ;
    
    
     }
     textarea{
      width: 100%;
      border: 1px solid black;
      outline: none;
      padding: 10px;
      box-sizing: border-box;
    
     }
     label{
       margin-bottom: 6px;
       display: block;
       color: rgb(0, 0, 0);
    
     }
    
     .but {
        padding: 10px 20px;
        font-size: 16px;
        text-decoration: none;
        color: #fff;
        background-color: #000000;
        cursor: pointer;
        border-radius: 25px;      
      
      }
      .but:hover {
       
        color: #000000;
        background-color: #7c7b7b;  
      }

    .reclamation-left h3{
        color:  rgb(0, 0, 0);
        font-weight: 600;
        margin-bottom: 30px;
    
    
    
    }
    #divgrid{
      display: grid;
      grid-template-columns: 500px 500px  ;
      margin: 3px 0;
      color: black;
      font-family: 'Merriweather', serif;
      font-style: italic;
     
  
  }

  #titre
  {
    color: black;
    font-family: 'Merriweather', serif;
    font-weight: bold; 
    font-style: italic;
    text-decoration: underline; 

  }
 
   

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
    

.modifier_input
{
    border: none;
    background-color: transparent;
    outline: none;
}

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    