.footer .Follow2 {
    margin-bottom: 27px;
}


 .footer .Follow2 h3 {
    color: #fff;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    border-bottom: #fff solid 1px;
    border-bottom-width: 1px;
    border-width: 1px;
    display: inline-block;
    padding-bottom: 2px;

}
ul.location_icon2 li {
    float: left;
    height: 70px;
    color: #fff;
    padding-right: 20px;
}


.reclamation-bg {
    background-image:linear-gradient(#b32137,#170f10);
   margin-top: 90px;
}
.reclamation-bg .reclamationtitle h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 45px;
    padding: 40px 0;
    font-weight: 500;
    text-align: center;
}
/************/
*{
    margin :0 ;  
    padding: 0;
}
    
    body{
     background:rgb(0, 0, 0);
     font-size: 14px;
     font-family: 'Merriweather', serif;
    
    
    }
    .container{
    width:80% ;
    margin: 50px auto;
    
    }
    .reclamation-box{
     background: rgb(255, 255, 255);
     display: flex ; 
    
    }
    .reclamation-left{
    flex-basis: 60%;
    padding: 40px 60px;
    
    }
   
    
    h1{
    margin-bottom: 10px;
    color: #ffffff;
    
    
    }
    
     .input-row{
    display: flex ;
    justify-content:space-between ;
    margin-bottom: 20px;
    
    
     }
     
     input{
      width : 100% ; 
      border : none ; 
      border-bottom: 1px solid  #000000;
      outline: none;
      padding-bottom:5px ;
    
    
     }
     textarea{
      width: 100%;
      border: 1px solid black;
      outline: none;
      padding: 10px;
      box-sizing: border-box;
    
     }
     label{
       margin-bottom: 6px;
       display: block;
       color: rgb(0, 0, 0);
    
     }
    button{
    background : rgba(121, 122, 125, 0.841);
    width : 100px ; 
    border : none ; 
    outline : none ; 
    color : #fff ; 
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(25, 0, 181, 0.3) ;
    
     }
    .reclamation-left h3{
        color:  rgb(0, 0, 0);
        font-weight: 600;
        margin-bottom: 30px;
    
    
    
    }
   

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    